<div>
  <h4>{{data.theme.title}}</h4>
  <div style="width:{{(data.cards.length + 2 )* 100}}px; overflow:scroll;">

  <table tablednd table-dragtable class="table table-striped table-bordered"
    cellspacing="0" cellpadding="1"
    >
    <thead>
      <tr>
        <td style="width:100px" sortable-header col="facility">Group/Card</td>
        <td style="width:100px"ng-repeat="card in data.cards">{{card.desc}}</td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="result in data.results">
        <td style="width:100px">{{result.group.title}}</td>
        <td style="width:100px" ng-repeat="card in data.cards">
          <span class="btn btn-default" ng-repeat="vote in result.votes[card.id]">
            {{vote}}
          </span>
          
        </td>
      </tr>
    </tbody>
  </table>

  </div>
</div>